body
{
    background-color: #e9e9e9;
    height:95%;
    background: url("images/bg.jpg") bottom;
}
/* ==========================================================================
   Modal
   ========================================================================== */
#overlay{
    position:   fixed;
    top:        0;
    left:       0;
    width:      100%;
    height:     100%;
    background: #000;
    opacity:    0.5;

}

#modal{
    z-index:100;
    position:absolute;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
}

#content{
    border-radius:8px;
    background:#fff;
    padding:20px;
}

.modal_close{
    position:absolute;
    background: url("images/close.png") 0 0 no-repeat;
    width:24px;
    height:27px;
    display:block;
    top:0px;
    right:0px;

}

/* ==========================================================================
        New Mockup
   ========================================================================== */
#primary_wrapper{

    border-radius: 9px;
    box-shadow: 6px 6px 16px #a2a2a2;
    background-color: #FFFFFF;

    font-size: 12pt;
    color: #888888;
    text-align: center;

    height: 80%;
    min-width: 420px;
    min-height: 300px;

    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;

    background-color: #B5B5B5;
}


@media screen and (max-aspect-ratio: 1/1){#primary_wrapper {left: 5%; right:5%;}}
@media screen and (min-aspect-ratio: 1/1){#primary_wrapper {left: 12%; right:12%;}}
@media screen and (min-aspect-ratio: 5/4){#primary_wrapper {left: 19%; right:19%;}}
@media screen and (min-aspect-ratio: 3/2){#primary_wrapper {left: 24%; right:24%;}}
@media screen and (min-aspect-ratio: 16/9){#primary_wrapper {left: 27%; right:27%;}}
@media screen and (min-aspect-ratio: 2/1){#primary_wrapper {left: 29%; right:29%;}}
@media screen and (min-aspect-ratio: 24/10){#primary_wrapper {left: 40%; right:40%;}}

#primary_wrapper.large {
    min-height:300px;
    padding-bottom: 1em;
    position: absolute;
}
#primary_wrapper .left{
    float:left;
    max-width:25%;
    overflow: hidden;
}

.mainPic{
    width: 87%;
}
#primary_wrapper .smallleft{
    float:left;
    width:20%;
    border-right:1px solid #a9a9a9;

}
#primary_wrapper .right{
    float:right;
    max-width:70%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: black;
    text-align:left;
}

#primary_wrapper.landingBox{
    margin-top: 10px;
    display: inline-block;
}

.logo{    
    display: block;
    margin-left: auto;
    margin-right: auto; }


.menu{
    font-size: 14px;
    text-shadow: none;
    color: #a0a0a0;
    letter-spacing: 1px;
    text-align: center;
    margin-top:5px;
    margin-left:-40px;
    margin-bottom: -1em;
}
.menu ul {
    list-style-type:circle;
    padding:0px;
    margin:0px;
}
.menu li {
    display:inline;
    padding:0px;
    margin:0px;
}
.menu li:first-child:before {
    content: '';
}
.menu li:before {
    content:" - ";
}

.menu a:link {color: #a0a0a0; text-decoration:none } 
.menu a:visited{color: #a0a0a0; text-decoration:none }
.menu a:hover {color: white; }
.menu a:active {color: white }


h1, h2, h4, h5, h6 {
    font-weight: Normal;
    color: #424242;
    line-height: 10px;
    text-align:center;
}

.lobbyMenu {
    z-index: 10;
    text-align: left;
    left: 0;
    width: 142px;
    padding: 1em;
    position: absolute;
    top: -4px;    
}

#gameMenu {
    text-align: right;
    right: 2em;
    width: 142px;
    padding: 1em;
    position: absolute;
    top: -4px;
    z-index: 10;
}

#linkwrapper {
    margin:10px;
}

.myButton, .dnthide, .otherButton {
    width: 142px;
    font-size: 14px;
    font-weight: 200;
    color: white;
    text-align: center;
    padding: 2px 6px;
    background-color: #424242;
    white-space: normal;
    border-radius: 4px;
    border: 1px solid #252728;

    box-shadow: inset 0 0 3px #bdc0c2;
    text-decoration:none;
}

.otherButton:hover, .myButton:hover {
    border-top-color: #696969;
    background: #696969;
    color: #ffffff;
}
.myButton:active {
    border-top-color: #737373;
    background: #737373;
}
.dnthide:hover {
    border-top-color: #696969;
    background: #696969;
    color: #ffffff;
}
.dnthide:active {
    border-top-color: #737373;
    background: #737373;
}

#gameList {
    left: 20%;
    right: 20%;
    max-height: 70%;
    overflow: auto;
    position: absolute;
    z-index: 1;
}

#gameText h2 {
    line-height: 100%;
}

#gameListText {
    width:50%;
    margin:0 auto;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.gameRow {

    text-align: center;
    font-size: 1.2em;
    background: white;
    color: #424242;

    font-weight: 200;
    text-align: center;
    padding: .3em;

    border-radius: 4px;
    border: 1px solid #252728;

    box-shadow: inset 0 0 3px #bdc0c2;
}

.gameRow:hover {
    border-top-color: #696969;
    background: #696969;
    color: #ffffff;
}

.gameRow:nth-child(even) {
    background: #424242;
    color: white;

}
.gameRow:nth-child(even):hover {
    background: #696969;

}

/* ==========================================================================
        Table Styling
   ========================================================================== */
#gameWrap{
    display: inline-table;
    position: relative;
    width:70%;
}

#gameDummy{
    padding-top: 100%
}

#gameDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.bboard {
    width: 100%;
    height: 100%;

    margin-left:auto;
    margin-right:auto;
    background-color:#999999;
    border-style: hidden;
}
.bboard td{
    width: 33%;
    height:33%;

}
.tableWrap {
    width:33%;
    height: 33%; 
    display: block;
    position: absolute;
    z-index: 3;
    margin-top:-16.5%;
}

.hiddenImg{
    position: relative;
    top:-100%;
    pointer-events: none;
}

.tableImg{
    z-index: 3;
    position: relative;
    top:-100%;
    background-color: white;
    opacity: 0.6;
}

.board{
    width:100%;
    height: 100%; 
    border-style: hidden;
}
.board td{
    width: 33%;
    height:33%;
}

.row img{
    width: 100%;
    height:100%;
    display: block;
}

.imgdiv{
    height: 100%;
    width: 100%;
}
.cell{

    background-color: white;
    border: 3px solid black;
}
.playerSymbol{
    position:relative;
    width: 20px;
    height: 20px;
}

.valid{border: 3px solid yellowgreen;}
.opponentValid{
    background-color: white;
    border: 3px solid grey;
}
.row{background-color: #B5B5B5;}

/*============================================================================
        Login CSS
============================================================================*/

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
    opacity: 0.5;
}

#Login{
    text-align: center;
    width:      404px;
    background: #FFF;
    display: inline;
}

#LobbyWarning{
    width: 404px;
    padding-bottom: 2px;

    display: none;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
}

#primary_wrapper h1{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding:20px;
    margin:0;
    background-color:#424242;
    border-bottom:1px solid #B5B5B5;
    color:white;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* ==========================================================================
        Social Media Styles
   ========================================================================== */
#socialMediaWrapper{
    text-align: center;
}

#login_timer{
    font-weight:bold;
}

.socialMediaOauth{
    display: block;
    height:35px;
    width:222px;
    margin:0 auto;
}

#sm_fb{
    background-image:url(images/fb.png);
}

.fb {
    width:106px;
    height:35px;
    float:left;
    vertical-align:middle;
    background-position:center center;
    background-repeat:no-repeat;
    background-color:#3498db;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.fb:hover {
    background-color:#5dade2;
}

#sm_yt {
    background-image:url(images/yt.png)
}

.yt {
    width:106px;
    height:35px;
    float:left;
    vertical-align:middle;
    background-position:center center;
    background-repeat:no-repeat;
    background-color:#e74c3c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left:10px;
}

.yt:hover {
    background-color:#ec7063;
}

.jd {
    width:106px;
    height:35px;
    float:left;
    vertical-align:middle;
    background-position:center center;
    background-repeat:no-repeat;
    background-color:#726A6A;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jd:hover {
    background-color:#AAA9A9;
}

p.left-center.small{
    font-size:14px;
}
p.left-center.small a{font-size:14px;font-weight:bold;}
.row .right {float:right;}
.left-center, .left-center p{text-align: left;}
img.margin-right{margin-right:10px;}
.field.hidden{visibility:hidden;display:none;}
ul.hidden{visibility:hidden;display:none;}
.field.rememberme{margin-bottom:0px !important;}
.alert.danger a{font-size: 0.875rem;color: #c02e2e;}
.alert.danger a:hover{font-size: 0.875rem;color: #7b2121;}
.alert { padding: 5px; font-weight: 600; list-style-type: none; word-wrap: break-word; margin-bottom: 8px; font-size: 14px; font-size: 0.875rem; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
.alert.primary { background: #85b7e7; border: 1px solid #3085d6; color: #1a5186; }
.alert.secondary { background: #80cb92; border: 1px solid #42a35a; color: #255a32; }
.alert.default { background: white; border: 1px solid #f2f2f2; color: #bfbfbf; color: #555555; border: 1px solid #f2f2f2; }
.alert.info { background: #7b8085; border: 1px solid #4a4d50; color: #191a1b; color: #f2f2f2; }
.alert.danger { background: #df8989; border: 1px solid #ca3838; color: #7b2121;margin-right:10%; }
.alert.warning { background: #fbdca0; border: 1px solid #f6b83f; color: #c68609; color: #644405;margin-right:10%; }
.alert.success { background: #91e26a; border: 1px solid #58c026; color: #316b15;margin-right:10%; }
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: tahoma; 
}


/* ==========================================================================
        Field Error messages
   ========================================================================== */
.hidden.alert{
    display:none;
    visibility:hidden;
}

/* ==========================================================================
        Sonic Styles
   ========================================================================== */
#SonicLoader{
    margin:0 auto;
    margin-left:auto;
    margin-right: auto;
}
#SonicLoader canvas.sonic{
    margin: 0 auto;
}

/* Inset, by Dan Eden */

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* ==========================================================================
        Some button styles
   ========================================================================== */


/* gray */
.gray {
    color: #e9e9e9;
    border: solid 1px #555;
    background: #6e6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top,  #888,  #575757);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
    background: #616161;
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top,  #575757,  #888);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

a.facebook {
    font-weight:bold;
    color:#3498db;
}
a.facebook:hover{
    color:#88CDFC;
}
a.google {
    font-weight:bold;
    color:#e74c3c;
}
a.google:hover {
    color:#FF4F3F;
}

/* ==========================================================================
        Animations
  ========================================================================== */

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1;}	25%, 75% {opacity: 0;}
}

@-moz-keyframes flash {
    0%, 50%, 100% {opacity: 1;}	
25%, 75% {opacity: 0;}
}

@-o-keyframes flash {
    0%, 50%, 100% {opacity: 1;}	
25%, 75% {opacity: 0;}
}

@keyframes flash {
    0%, 50%, 100% {opacity: 1;}	
25%, 75% {opacity: 0;}
}

.flash {
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-name: flash;
    -moz-animation-name: flash;
    -o-animation-name: flash;
    animation-name: flash;
}
@-webkit-keyframes bounceIn {
    0% {opacity: 0;-webkit-transform: scale(.3);}
50% {opacity: 1;-webkit-transform: scale(1.05);}
70% {-webkit-transform: scale(.9);}
100% {-webkit-transform: scale(1);}
}

@-moz-keyframes bounceIn {
    0% {opacity: 0;-moz-transform: scale(.3);}
50% {opacity: 1;-moz-transform: scale(1.05);}
70% {-moz-transform: scale(.9);}
100% {-moz-transform: scale(1);}
}

@-o-keyframes bounceIn {
    0% {opacity: 0;-o-transform: scale(.3);}
50% {opacity: 1;-o-transform: scale(1.05);}
70% {-o-transform: scale(.9);}
100% {-o-transform: scale(1);}
}

@keyframes bounceIn {
    0% {opacity: 0;transform: scale(.3);}
50% {opacity: 1;transform: scale(1.05);}
70% {transform: scale(.9);}
100% {transform: scale(1);}
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
}
@-webkit-keyframes bounceOut {
    0% {-webkit-transform: scale(1);}
25% {-webkit-transform: scale(.95);}
50% {opacity: 1;-webkit-transform: scale(1.1);}
100% {opacity: 0;-webkit-transform: scale(.3);}	
}

@-moz-keyframes bounceOut {
    0% {-moz-transform: scale(1);}
25% {-moz-transform: scale(.95);}
50% {opacity: 1;-moz-transform: scale(1.1);}
100% {opacity: 0;-moz-transform: scale(.3);}	
}

@-o-keyframes bounceOut {
    0% {-o-transform: scale(1);}
25% {-o-transform: scale(.95);}
50% {opacity: 1;-o-transform: scale(1.1);}
100% {opacity: 0;-o-transform: scale(.3);}	
}

@keyframes bounceOut {
    0% {transform: scale(1);}
25% {transform: scale(.95);}
50% {opacity: 1;transform: scale(1.1);}
100% {opacity: 0;transform: scale(.3);}	
}

.bounceOut {
    -webkit-animation-name: bounceOut;
    -moz-animation-name: bounceOut;
    -o-animation-name: bounceOut;
    animation-name: bounceOut;
}

/*========================================
    ACE Styles
==========================================*/
#editor { 
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 30px;
    text-align: left;
}

@media screen and (max-height: 881px){#editor {top: 57px;}}
@media screen and (max-height: 550px){#editor {top: 84px;}}

@media screen and (max-width: 812px) {#editor {top: 57px;}}
@media screen and (max-width: 485px){#editor {top: 84px;}}


.botMenu {
    text-align: center;
}

#IDE{
    display: inline;
    position: absolute;
    bottom: 15%;
    right: 0px;
    left: 0px;
    top: 53px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

#IDEConsole{
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    text-indent: 12px;
    position: absolute;
    background-color: #424242;
    height: 14%;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: left;
    font-size: 12px;
}

#consolseText{
    color: white;
    margin-left: 12px;
}
#errorMessage {
    color: red;
}

.IDEmodal{
    width: 404px;
    padding-bottom: 2px;
    background: #FFF;
}

#newBotImg{
    height: 15px;
}

#loadBot{
    padding-top: 30px;
}