<div id="home">
<img class="logo" src='styles/images/noughtscrosses_black.svg'/>
<div id="primary_wrapper" class="landingBox">
    <h1>Home</h1>
    <div class="left ttt"><img src="./styles/images/ttt_bg.svg"  width="378" height="503"/></div>
    <div class="right">
        <h3>Welcome!</h3>
        <p>This site has been created by a group at Massey University for the Capstone course. You can navigate and login above.</p>
         <div id="Login" style="width:auto; text-align: left;">
            <p>Please select a service to login and play a game</p> 
            <div id="fb-root"></div>
            <form id="LoginForm" action="authapi" method="post" onsubmit="return false" >
                <ul><li class="hidden alert" id="formAlert"></li></ul>
                <div id="LoginFormOptions" >
                    <div id="socialMediaWrapper">
                        <div class="socialMediaOauth" style="margin: 0 0;">
                            <a href="#" class="fb" id="sm_fb" title="Facebook Login" onclick="FacebookLogin();" ></a>
                            <a href="#" class="yt" id="sm_yt" title="Google Login" onclick="googleLogin();"></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <hr>
        <p>The current game follows a nested design with specialised rules.</p>
        <h3>The Rules:</h3>
        <ol>
            <li>Player 1 must start in the middle board. (This helps to prevent start bias)</li>
            <li>Whichever square in the sub-board player 1 chooses, is the sub-board the other player must play in.</li>
            <li>First to three subgames in a row/column/diagonal wins</li> 
        </ol>
    </div>
</div>
</div> 
<div id="Login_Wrapper">
        <div id="Login" >
            <h3>Login</h3>
            <p>Welcome! To get playing please login using either link below.</p>
            <div id="fb-root"></div>
            <form id="LoginForm" action="authapi" method="post" onsubmit="return false" >
                <ul><li class="hidden alert" id="formAlert"></li></ul>
                <div id="LoginFormOptions" >
                    <div id="socialMediaWrapper">
                        <div class="socialMediaOauth">
                            <a href="#" class="fb" id="sm_fb" title="Facebook Login" onclick="FacebookLogin();" ></a>
                            <a href="#" class="yt" id="sm_yt" title="Google Login" onclick="googleLogin()"></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>


<!--content for newBot modal-->
<div id="NewBot_Wrapper">
    <div id="newbot" class="IDEmodal">
        <form>
                <h2>Create New Bot</h2>
                <input type="text" id="nameYourBot" placeholder="Name Your Bot" oninput="vaildateBotName(this.value);
                       return false;"/>
                <span id="newbotimg"></span>
                <input type="submit" name="btnSubmitNewBot" value="Create Bot" id="btnSubmitNewBot" class="myButton" disabled="disabled" onclick ="javascript: newBot(); return false;" />
                <div id="validationText">
                    <br/>
                </div>
                Names must begin with a letter and be correct Java Class Names. But can contain letters, numbers, and underscores.
            </form>
    </div>
</div>